# Pandas 002

In [1]:
import pandas as pd

Nous allons poursuivre notre exploration des données avec le dataset `beer_reviews.csv`.

- charger le dataset `beer_reviews.csv` :

In [2]:
# Votre code
df = pd.read_csv('beer_reviews.csv')
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

- afficher les 5 premières lignes (il existe une méthode spécialement pour cela) :

In [3]:
# Votre code
# df.head()
df.loc[:5,:]

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883
5,1075,Caldera Brewing Company,1325524659,3.0,3.5,3.5,oline73,Herbed / Spiced Beer,3.0,3.5,Caldera Ginger Beer,4.7,52159

- afficher les 5 dernières lignes :

In [4]:
# Votre code
df.tail()
df.loc[df.shape[0]-5:df.shape[0]+1:1,:]

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
1586609,14359,The Defiant Brewing Company,1162684892,5.0,4.0,3.5,maddogruss,Pumpkin Ale,4.0,4.0,The Horseman's Ale,5.2,33061
1586610,14359,The Defiant Brewing Company,1161048566,4.0,5.0,2.5,yelterdow,Pumpkin Ale,2.0,4.0,The Horseman's Ale,5.2,33061
1586611,14359,The Defiant Brewing Company,1160702513,4.5,3.5,3.0,TongoRad,Pumpkin Ale,3.5,4.0,The Horseman's Ale,5.2,33061
1586612,14359,The Defiant Brewing Company,1160023044,4.0,4.5,4.5,dherling,Pumpkin Ale,4.5,4.5,The Horseman's Ale,5.2,33061
1586613,14359,The Defiant Brewing Company,1160005319,5.0,4.5,4.5,cbl2,Pumpkin Ale,4.5,4.5,The Horseman's Ale,5.2,33061

- afficher les noms des colonnes :

In [5]:
# Votre code
df.columns

Index(['brewery_id', 'brewery_name', 'review_time', 'review_overall',
       'review_aroma', 'review_appearance', 'review_profilename', 'beer_style',
       'review_palate', 'review_taste', 'beer_name', 'beer_abv',
       'beer_beerid'],
      dtype='object')

- quel est la médiane de la colonne `review_overall` ?

In [14]:
# Votre code
df['review_overall'].median()

4.0

- combien de styles de bières (`beer_style`) sont présents dans ce dataset ?

In [23]:
# Votre code
# df['beer_style'].nunique()
# df['beer_style'].drop_duplicates().size
len(set(df['beer_style']))

104

- comparer le `review_overall` à la moyenne de cette même colonne en retranchant à chaque review la moyenne. Vous pouvez le mettre dans une nouvelle colonne `review_diff` :

In [8]:
# Votre code
df['review_diff'] = df['review_overall'] - df['review_overall'].mean()
df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,review_diff
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,-2.315581
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,-0.815581
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215,-0.815581
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969,-0.815581
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883,0.184419

- combien de bières de type `Pumpkin Ale` y'a-t-il dans le dataset ? Vous pouvez regarder du côté de la méthode `map` et des fonctions `lambda` de Python.

In [24]:
# Votre code
# sum(df['beer_style'].apply(lambda x: x=='Pumpkin Ale'))
# sum(map(lambda x: x=='Pumpkin Ale',df['beer_style']))
print(pd.value_counts(df["beer_style"])["Pumpkin Ale"])

15550

- quel est la `review_overall` moyenne par brasserie (`brewery_name`) ? Regardez du côté de `groupby`.

In [30]:
# Votre code
df.groupby('brewery_name')['review_overall'].mean()

brewery_name
't Hofbrouwerijke                    3.702703
(512) Brewing Company                4.065789
10 Barrel Brewing Co.                3.732143
1516 Brewing Company                 4.132353
16 Mile Brewing Company              3.570652
1648 Brewing Company Ltd             3.500000
1702 / The Address Brewing Co.       4.000000
192 Brewing Company                  1.833333
1st City Brewery and Grill           3.666667
2 Brothers Brewery                   3.686275
21st Amendment Brewery               3.699295
23rd Street Brewery                  3.895349
2nd Shift Brewery                    3.772727
3 Cordilleras                        4.000000
3 Ravens Brewing                     3.549587
3 Stars Brewing Company              3.166667
32 Via Dei Birrai                    3.000000
4 Hands Brewing Co.                  4.500000
4 Pines Brewing Company              3.669492
4Seasons Sports Bar & Brew Pub       2.333333
4th Street Brewing Co.               3.693548
4th Street Brewing Company           3.583333
5 Points Brewing Company             3.500000
5 Rabbit Cerveceria                  3.596154
50 Back Brewing Company              3.100000
508 Gastrobrewery                    4.250000
5280 Roadhouse and Brewery           4.000000
7 Kron                               3.500000
7 Seas Brewery and Taproom           3.579545
75th Street Brewery                  3.597222
                                       ...
Zhongce Beijing Beer Company         3.166667
Zierholz Premium Brewery             3.937500
Zillertal Bier GmbH                  3.285714
Zion Canyon Brewing Company          3.946429
Zolotoy Ural OAO                     3.333333
Zu den Zwölf Aposteln                4.333333
Zum Kummert Bräu                     3.000000
Zum Löwenbräu                        4.166667
Zum Stiefel                          3.833333
Zuma Brewing Company                 3.500000
Zweite Schweriner Schlossbrauerei    3.200000
Zywiec Breweries PLC (Heineken)      3.531629
barVolo                              3.643750
the Nils Oscar Company               3.794291
Žatecký Pivovar                     3.768293
À La Fût                             3.586207
À l’abri de la Tempête               3.742308
Árainn Mhór Brewing Company          3.500000
Ängö Kvartersbryggeri                3.950000
Åbro Bryggeri                        2.773810
Åsundens Bryggeri                    4.000000
Ægir Bryggeri                        4.025000
Ölands Gårdsbryggeri                 3.560606
Ölgerð Reykjavíkur                   2.500000
Ölgerðin Egill Skallagrímsson        2.826087
Ölvisholt Brugghús                   3.912371
Öufi Brauerei                        3.500000
Ølfabrikken                          4.069966
Ørbæk Bryggeri                       3.583333
Łódzkie Browary S.A.                 3.500000
Name: review_overall, Length: 5742, dtype: float64

- faire la même chose avec `median` en plus en **une seule ligne** :

In [32]:
# Votre code
df.groupby('brewery_name')['review_overall'].agg(['mean', 'median', 'min'])

                                       mean  median  min
brewery_name
't Hofbrouwerijke                  3.702703    4.00  2.0
(512) Brewing Company              4.065789    4.00  1.5
10 Barrel Brewing Co.              3.732143    4.00  2.0
1516 Brewing Company               4.132353    4.25  3.0
16 Mile Brewing Company            3.570652    3.50  1.5
1648 Brewing Company Ltd           3.500000    3.50  3.5
1702 / The Address Brewing Co.     4.000000    4.00  4.0
192 Brewing Company                1.833333    1.50  1.0
1st City Brewery and Grill         3.666667    4.00  1.0
2 Brothers Brewery                 3.686275    3.50  3.0
21st Amendment Brewery             3.699295    4.00  1.0
23rd Street Brewery                3.895349    4.00  3.0
2nd Shift Brewery                  3.772727    3.50  3.5
3 Cordilleras                      4.000000    4.00  4.0
3 Ravens Brewing                   3.549587    3.50  1.0
3 Stars Brewing Company            3.166667    3.50  2.0
32 Via Dei Birrai                  3.000000    3.00  2.0
4 Hands Brewing Co.                4.500000    4.50  4.0
4 Pines Brewing Company            3.669492    3.50  2.5
4Seasons Sports Bar & Brew Pub     2.333333    2.00  2.0
4th Street Brewing Co.             3.693548    3.50  2.5
4th Street Brewing Company         3.583333    3.50  3.0
5 Points Brewing Company           3.500000    3.50  3.0
5 Rabbit Cerveceria                3.596154    3.50  2.5
50 Back Brewing Company            3.100000    3.00  2.0
508 Gastrobrewery                  4.250000    4.25  3.5
5280 Roadhouse and Brewery         4.000000    4.00  4.0
7 Kron                             3.500000    3.50  3.0
7 Seas Brewery and Taproom         3.579545    3.50  2.0
75th Street Brewery                3.597222    3.50  1.5
...                                     ...     ...  ...
Zhongce Beijing Beer Company       3.166667    3.50  2.0
Zierholz Premium Brewery           3.937500    4.00  3.5
Zillertal Bier GmbH                3.285714    3.00  2.0
Zion Canyon Brewing Company        3.946429    4.00  2.0
Zolotoy Ural OAO                   3.333333    3.50  3.0
Zu den Zwölf Aposteln              4.333333    4.50  4.0
Zum Kummert Bräu                   3.000000    3.00  3.0
Zum Löwenbräu                      4.166667    4.50  3.5
Zum Stiefel                        3.833333    4.00  3.0
Zuma Brewing Company               3.500000    3.50  3.0
Zweite Schweriner Schlossbrauerei  3.200000    3.00  3.0
Zywiec Breweries PLC (Heineken)    3.531629    3.50  1.0
barVolo                            3.643750    3.50  2.0
the Nils Oscar Company             3.794291    4.00  1.5
Žatecký Pivovar                   3.768293    4.00  1.0
À La Fût                           3.586207    4.00  1.0
À l’abri de la Tempête             3.742308    4.00  1.0
Árainn Mhór Brewing Company        3.500000    3.50  3.0
Ängö Kvartersbryggeri              3.950000    4.00  2.5
Åbro Bryggeri                      2.773810    3.00  1.5
Åsundens Bryggeri                  4.000000    4.00  4.0
Ægir Bryggeri                      4.025000    4.00  2.5
Ölands Gårdsbryggeri               3.560606    3.50  2.5
Ölgerð Reykjavíkur                 2.500000    2.50  2.5
Ölgerðin Egill Skallagrímsson      2.826087    3.00  1.5
Ölvisholt Brugghús                 3.912371    4.00  1.5
Öufi Brauerei                      3.500000    3.50  3.5
Ølfabrikken                        4.069966    4.00  1.0
Ørbæk Bryggeri                     3.583333    3.50  2.0
Łódzkie Browary S.A.               3.500000    3.50  3.5

[5742 rows x 3 columns]

- qui est le reviewer (`review_profilename`) qui revient le plus dans le dataset ? Pour cela compter combien de fois les différents `review_profilename` apparraissent et classez les par ordre décroissant.

In [12]:
# Votre code
# df['review_profilename'].value_counts()
df['review_profilename'].value_counts().idxmax()

'northyorksammy'